@media screen and (max-width: 1024px){
    .mentions-container{
        grid-template-columns: 1fr 1fr;
        column-gap: 40px;
    }
}

@media screen and (max-width: 788px){
    .products{
        background-image: url(../images/circle2.png);
    }

    .products-header {
        padding-top: 8rem;
        font-size: 1.6rem;
    }

    .p2 {
        margin-top: 0;
        margin-bottom: 2rem;
    }

    #hamburger{
		display: initial;
	}

    .header-nav {
		display: none;
    	position: fixed;
    	z-index: 2;
    	right: 4vw;
    	background-color: var(--black-shadow);
    	margin-top: 2.9rem;
    	border-radius: 8px;
    	/* transition: margin-top 0.5s; */
    }

    .mentions-container{
        column-gap: 10px;
    }
    
    .header-nav.is-active{
		display: block;
		transition: margin-top 0.5s;
    }
    
    .header-nav li:nth-of-type(1) a{
        border-bottom-left-radius: 8px;
    }

    .header-nav li:nth-last-of-type(1) a{
        border-bottom-right-radius: 8px;
    }
}

@media screen and (max-width: 734px){
    .mentions-container{
        grid-template-columns: 1fr;
        padding-left: 15vw;
        padding-right: 15vw;
        row-gap: 0px;
    }

    .benefit{
        width: 75%;
    }
}

@media screen and (max-width: 400px){
    html {
        font-size: 12.2px;
    }
    p {
        font-size: 1.2rem;
    }
    h3 {
        font-size: 1.3rem;
    }
    .mentions-container{
        padding-left: 20px;
        padding-right: 20px;
    }

    .benefit{
        width: 96%;
    }

    .product{
        width: initial;
    }
}