:root{
    --grid-pad: 8vw;
}

.header{
    background: black;
}

.selected{
    color: var(--red);
    border-bottom: 3px solid var(--red);
}

.products-grid{
    padding-top: calc(var(--header-size) + 3rem);
    padding-left: var(--grid-pad);
    padding-right: var(--grid-pad);
    display: grid;
    background-color: rgb(19, 19, 20);
    grid-template-columns: 270px 1fr 270px;
    align-items: center;
    row-gap: 20px;
    column-gap: 30px;
    grid-template-areas: "title title title"
                        "desc1 desc1 img1"
                        "img2 desc2 desc2"
                        "desc3 desc3 img3";
}

.products-grid h1{
    grid-area: title;
    /* grid-column: span 3; */
    margin-bottom: 0;
    font-size: 2rem;
    color: var(--orange);
    /* text-shadow: 2px 2px var(--purple); */
    text-transform: uppercase;
}

.description-1{
    grid-area: desc1;
}

.image-1{
    grid-area: img1;
}

.description-2{
    grid-area: desc2;
}

.image-2{
    grid-area: img2;
}

.description-3{
    grid-area: desc3;
}

.image-3{
    grid-area: img3;
}

.product-description{
    height: 280px;
    /* border: 1px solid red; */
    display: flex;
    flex-flow: column;
    justify-content: center;
    /* padding-bottom: 3.5rem; */
}

.product-description h2{
    color: var(--blue);
    margin-top: 0;
    text-shadow: 2px 2px 2px black;
}

.product-description:nth-of-type(even) h2{
    color: var(--red);
}

.product-description p{
    padding-left: 25px;
    margin: 0;
}

.product-image{
    text-align: center;
}

.product-image img{
    height: auto;
}

.product-image:hover{
    transform: scale(1.1);
}