:root{
    --side-pad: 15%;
}

.header{
    background-color: black;
}

.sales-grid{
    grid-template-columns: 290px 1fr;
    gap: 1vw;
    justify-content: center;
    align-content: center;
    padding-top: calc(var(--header-size)*3.5);
    padding-bottom: calc(var(--header-size)*2.5);
    padding-right: var(--side-pad);
    padding-left: var(--side-pad);
    /* height: 65.9vh; */
}

.sale-info, .sale-form{
    box-shadow: 3px 3px black;
    border-radius: 8px;
}

.sale-info{
    padding: 10px;
    box-sizing: border-box;
}

.sale-image{
    text-align: center;
    width: inherit;
    margin: auto;
}

.sale-image img{
    width: 90%;
    object-fit: cover;
}

.sale-info h2{
    color: var(--purple);
    margin-top: 0;
    text-shadow: 2px 2px 2px black;
}

.sale-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    color: black;
    padding: 20px;
}

.sale-form form{
    width: 70%;
}

.sale-form table{
    width: 100%;
    margin: 0 auto;
}

.sale-form a{
    padding: 5px 20px;
    margin: 10px;
    border-radius: 30px;
    border: 3px solid blue;
    color: blue;
    text-decoration: none;
}

.sale-form a:hover{
    background-color: blue;
    border: 3px solid white;
    color: white;
}

label{
    display: inline-block;
}


input, select{
    margin-bottom: 6px;
    width: 100%;
    height: 28px;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Inter', serif;
}

#paypal-button-container{
    position: relative;
    z-index: 0;
}

/* #email{
    width: 60%;
}

#phone{
    width: 38.5%;
}

#name, #last-name{
    width: 49.2%;
}

#address{
    width: 100%;
}

.form-btn{
    width: initial;
    height: initial;
    display: block;
    padding: 10px 20px;
    margin: 10px auto;
    border: 0px;
    box-shadow: 2px 2px black;
    color: inherit;
    background-color: inherit;
}

.form-btn:hover{
    background-color: var(--purple);
} */

